<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Stock Market Home</title>
</head>
<body class="container my-2">

<div class="form-outline input-group col-8 mx-auto w-100">
    <form class="form-inline my-2 w-100 justify-content-center">
        <input class="form-control col-6" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary my-2 mx-2" type="submit">Search</button>
    </form>
</div>


<table id="tickersDiv" class="col-12 mx-auto table table-hover my-4">
    <thead>
    <tr>
        {% for col in header %}
            <th scope="col" class="text-center">{{ col }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for record in records %}
        <tr class="text-center">
            {% for col in record %}
                <td class="align-middle">{{ col }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>